<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="align-header">
        <div class="header">
            <div class="left-side-header">
                <div class="logo"><i class="fa fa-dropbox"></i><span>WebStore</span></div>
            </div>
            <div class="right-side-header">
                <div class="align_icons_container">
                    <div class="icons_container">
                        <a href="#" class="addProduct"><i class="fa fa-plus-square"></i></a>
                        <a href="#"><i class="fa fa-bitbucket"></i></a>
                        <a href="/web-store/logout"><i class="fa fa-window-close"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_content">
        <div class="align_search_container">
            <div class="search_container">
                <input type="text" class="tableSearch" name="search" placeholder="Enter search"/>
            </div>
        </div>

        <div class="align_product_table">
            <div class="product_table">
                <table id="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="align-footer">
        <div class="footer">
            <span>WebStore © 2021</span>
        </div>
    </div>
</div>

<div class="align_add_product_container">
    <div class="product_container">
        <div class="form_header">
            <a href="#" class="close_window">Add product</a>
            <a href="#" class="close_window"><i class="fa fa-times"></i></a>
        </div>
        <div class="align_form">
            <form class="addProductForm" action="/web-store/products/add" method="post">
                <input type="text" name="name" placeholder="Enter product" autocomplete="false" required/>
                <input type="number" name="price" placeholder="Enter product price" autocomplete="false" required/>
                <input type="text" name="desc" placeholder="Enter product description" autocomplete="false" required/>
                <div class="align_submit_btn">
                    <div class="submit_btn">
                        <input type="submit" name="name" required/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="js/tableLoad.js"></script>
</body>
</html>