<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Update new product:</h2>
    <form action="/products/update" method="post">
        <input type="number" name="id" placeholder="Enter productId">
        <input type="text" name="name" placeholder="Enter product name">
        <input type="number" name="price" placeholder="Enter price name">
        <input type="date" name="date" placeholder="Enter date">
        <input type="text" name="desc" placeholder="Enter product description">
        <input type="submit" value="Send">
    </form>
</body>
</html>